Data Types and Structures Questions

1. What are data structures, and why are they important?
  - Data structures are ways of organizing and storing data in a computer. They are important because they make data access, processing, and management efficient.

2.  Explain the difference between mutable and immutable data types with examples
- Mutable data types can be changed after creation (e.g., lists, dictionaries), while immutable data types cannot be changed once created (e.g., strings, tuples).

3. What are the main differences between lists and tuples in Python?
- Lists are **mutable, slower, and use square brackets \[ ]**, while tuples are **immutable, faster, and use parentheses ( )**.

4.  Describe how dictionaries store data
- Dictionaries store data as **key–value pairs**, where each unique key maps directly to its corresponding value for fast lookup.

5. Why might you use a set instead of a list in Python
- You might use a set instead of a list when you need **unique elements** and **fast membership checking**.

6. What is a string in Python, and how is it different from a list
- A string is a sequence of characters enclosed in quotes, while a list is a collection of elements (which can be of different types) enclosed in square brackets.

7. P How do tuples ensure data integrity in Python
- Tuples ensure data integrity by being immutable, meaning their values cannot be changed once created.

8. What is a hash table, and how does it relate to dictionaries in Python
- A hash table is a **data structure that stores data using key–value pairs with fast lookups**. In Python, dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
- Yes, lists in Python can contain **different data types** like integers, strings, and floats all in one list.

10. Explain why strings are immutable in Python
- Strings are immutable in Python to **ensure data safety, memory efficiency, and consistent behavior** when used across programs.

11. What advantages do dictionaries offer over lists for certain tasks
- Dictionaries offer **faster lookups and direct access using keys**, while lists require searching through elements one by one.

12.  Describe a scenario where using a tuple would be preferable over a list
- A tuple is preferable when you need to **store fixed data that should not change**, like the coordinates of a point `(x, y)` or days of the week.

13.  How do sets handle duplicate values in Python?
- Sets in Python **automatically remove duplicate values**, so each element is stored only once.

14.  How does the “in” keyword work differently for lists and dictionaries
- For lists, the `in` keyword **checks if a value exists** in the list, while for dictionaries it **checks if a key exists**.

15. Can you modify the elements of a tuple? Explain why or why not
- No, you cannot modify the elements of a tuple because **tuples are immutable**, meaning their values are fixed once created.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a **dictionary inside another dictionary**, useful for storing complex data like student records.

Example:

```python
student = {"name": "Amit", "marks": {"math": 90, "science": 85}}
```

17. Describe the time complexity of accessing elements in a dictionary
- Accessing elements in a dictionary has average time complexity O(1) because it uses hashing, though in rare cases it can be O(n).

18.  In what situations are lists preferred over dictionaries
-Lists are preferred over dictionaries when you need **ordered data, duplicates, or simple sequential access by index**.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because **their elements are stored by hash values, not positions**. This means you retrieve values using keys, not by index.

20.  Explain the difference between a list and a dictionary in terms of data retrieval
- In a list, data is retrieved **by index number**, while in a dictionary, data is retrieved **using a unique key**.

Practical Questions

In [31]:
# 1. Write a code to create a string with your name and print it

name = "Priyanshu"
print(name)

Priyanshu

In [30]:
# 2. Write a code to find the length of the string "Hello World"

text = "Hello World"
print("Length of string:", len(text))

Length of string: 11

In [29]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

text = "Python Programming"
print(text[:3])

Pyt

In [28]:
# 4. Write a code to convert the string "hello" to uppercase

text = "hello"
print(text.upper())

HELLO

In [27]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [26]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [25]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [24]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [23]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [22]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [21]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [20]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [19]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [18]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [17]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [16]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [15]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [14]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [13]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [12]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [11]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

person = {"name": "Amit", "age": 20, "city": "Delhi"}
print(person)

{'name': 'Amit', 'age': 20, 'city': 'Delhi'}

In [10]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [9]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [8]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [7]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [6]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 10, "b": 20}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 10, 'b': 20}

In [5]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [4, 10, 17, 60, 85]

In [4]:
# 28. Write a code to create a list with strings and print the element at the third index

words = ["apple", "banana", "cherry", "date", "mango"]
print(words[3])

date

In [2]:
# 29. Write a code to combine two dictionaries into one and print the result

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [3]:
# 30. Write a code to convert a list of strings into a set

words = ["apple", "banana", "cherry", "apple"]
words_set = set(words)
print(words_set)

{'cherry', 'apple', 'banana'}